.datatable-container {
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    overflow-x: auto; /*  */
}

.datatable-head {
    color: rgb(10, 47, 160);
}

.datatable {
    border: 1px solid rgba(0, 0, 0, 0.219);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: 100%;
    border-collapse: collapse;
}

.datatable th, .datatable td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
    white-space: nowrap;
}

.link {
    color: black;
}

/* Responsive  */
@media (max-width: 768px) {
    .search_container input {
        width: 100%;
        margin-bottom: 1rem;
    }

    .datatable {
        display: block;
    }

    .datatable thead {
        display: none;
    }

    .datatable tr {
        display: block;
        margin-bottom: 1rem;
        border-bottom: 1px solid #062442;
        margin-left: 1 rem;
    }

    .datatable td {
        display: block;
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .datatable td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 0.75rem;
        font-weight: bold;
        text-align: left;
    }
    .datatable-container{
        padding: 0rem;
    }
}
