.remainder-box{
    border: 1px solid rgba(104, 101, 101, 0.425);
    border-radius: 6px;
    margin-top: 2rem;
    margin-inline: 1rem;
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.table-head{
    color: rgb(4, 4, 160);
}